[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
python-dotenv = "*"
dash = "*"
requests = "*"
pandas = "*"
scikit-learn = "==0.24.2"
joblib = "*"
gunicorn = "*"
dash-daq = "*"

[dev-packages]

[requires]
python_version = "3.9"
